[submodule "clicker-react"]
	path = clicker-react
	url = git@github.com:piti118/clicker-react.git
[submodule "clickery-socket"]
	path = clickery-socket
	url = git@github.com:piti118/clickery-socket.git
